body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.brand-container {
    background-color: #007bff; /* Fondo azul */
    color: white;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    height: 100%; /* Ocupa todo el alto del navbar */
}

/* Inclinación en el lado derecho */
.brand-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-left: 30px solid transparent;
    border-top: 60px solid #007bff; /* Color del fondo azul */
}

/* Espaciado entre las secciones del menú y el nombre */
.navbar-nav {
    margin-left: 20px;
}

/* Hace que el navbar sea blanco */
.navbar {
    background-color: white !important;
}

/* Estilos adicionales si quieres agregar más personalización */
.navbar-nav .nav-link {
    color: #007bff;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.container {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}